# IDE & editor
.idea
!.vscode

# dependency
node_modules
bower_components

# test
coverage
.nyc_output
lighthouse
*.report.dom.html

# OS
.DS_Store

# lock
yarn.lock
package-lock.json

# log
*.log

# misc
*.xlsx
*.csv
