# IDE & editor
.idea
.vscode

# dependency
node_modules
bower_components

# test
coverage
.nyc_output
lighthouse
*.report.dom.html
.stryker-tmp
reports

# OS
.DS_Store

# log
*.log

# misc
*.xlsx
*.csv

# dist
index.d.ts
