# IDE & editor
.idea
.vscode

# dependency
node_modules
bower_components

# test
testcases.csv
coverage
.nyc_output
lighthouse
*.report.dom.html
.stryker-tmp
reports

# OS
.DS_Store

# benchmark
benchmark-log.csv
