# IDE & editor
.idea
.vscode
.editorconfig

# test
codecov.yaml
misc
reports
coverage
**/**/*.test.js

# CI
.github

# example
example
doc

# others
benchmark.js
bower.json
index.html
src/
stryker.conf.json
tsconfig.json
README-cmd.md
